.info {
  list-style: none;
}

.modal {
  width: 100%;
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(48, 46, 46, 0.8);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: absolute;
  bottom: 0;
  background-color: rgba(7, 7, 7, 0.8);
  color: rgb(7, 7, 7);
  width: auto;
  height: auto;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 3px 2px 3px black;
  padding-right: 35px;
}

.btn-close {
  color: rgb(216, 204, 204);
  background-color: transparent;
  border: none;
  outline: none;
  width: 32px;
  height: 32px;
  right: calc(-100% + 1px);
  top: 10px;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
}

.imagem-overlay {
  padding-left: 15px;
  border-radius: 20px;
  box-shadow: 3px 2px 3px black;
}
h3,h4,h5 {
  font-style: normal;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
  color: #CBD736;
  letter-spacing: 0.65em;
  font-size:20px;
}
li {
  color: #D3D3D3;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  line-height: 22px;
}